<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AulaTec" >
        <activity
            android:name="com.example.recomendacoes.RApps"
            android:exported="false" />
        <activity
            android:name="com.example.recomendacoes.RFilmes"
            android:exported="false" />
        <activity
            android:name="com.example.recomendacoes.RJogos"
            android:exported="false" />
        <activity
            android:name="com.example.recomendacoes.CursosPagos"
            android:exported="false" />
        <activity
            android:name="com.example.recomendacoes.CursosGratuitos"
            android:exported="false"
            android:theme="@style/Theme.AulaTec" />
        <activity
            android:name=".DetalhesProf"
            android:exported="false" />
        <activity
            android:name=".FragmentAulas"
            android:exported="false" />
        <activity
            android:name=".FragmentHome"
            android:exported="false" />
        <activity
            android:name=".Home2"
            android:exported="false"
            android:theme="@style/Theme.AulaTec" />
        <activity
            android:name="com.example.recomendacoes.TipoCurso"
            android:exported="false" />
        <activity
            android:name="com.example.recomendacoes.EscolherRecomendacoes"
            android:exported="false" />
        <activity
            android:name=".ListaAulas"
            android:exported="false" />
        <activity
            android:name=".ListaProf"
            android:exported="false" />
        <activity
            android:name=".TelaMod"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>